In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
csv = pd.read_csv('yearlytempavg1800.csv',encoding='utf8', engine='python')
df = pd.DataFrame(csv)
df.head()

   Unnamed: 0      Country  year  AverageTemperatureF
0           0  Afghanistan  1833              50.7272
1           1  Afghanistan  1834              50.7272
2           2  Afghanistan  1835              52.7381
3           3  Afghanistan  1837              53.9777
4           4  Afghanistan  1838              49.3691